body {
    font-family: Arial, sans-serif;
    background: #000000;
    margin: 20px;
  }
  h1 {
    color: blue;
    text-align: center;
  }
  p {
    color: rgb(216, 228, 0);
    text-align: left;
  }
  a:hover {
    text-decoration: underline;
    color: darkred;
  }
  img{
    border-radius:20px; 
    Width:15%;
  }
  @media (max-width: 768px) {
    h1 { font-size: 20px; }
    p { font-size: 14px; }
    img{ Width: 100px; }
  }
  @media (max-width: 450px) {
    h1 { font-size: 20px; }
    p { font-size: 14px; }
    img{ Width:100%; }
  }
    